html
{
    font-size: 10px !important;
}

body
{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-style: normal;

    color: #fff;
    background: #0c0c0c;

    -webkit-font-smoothing: antialiased;
}

body.contains-hero
{
    padding-top: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a
{
    font-family: 'Playfair Display', serif;
    font-weight: normal;

    color: #fff;
}

h1
{
    font-size: 10rem;
}

h2
{
    font-size: 5rem;
}

h3
{
    font-size: 4rem;
}

h4
{
    font-size: 3rem;
}

h5
{
    font-size: 2rem;
}

h6
{
    font-size: 1.8rem;
}

p
{
    font-size: 1.6rem;
}