@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    display: flex;
    justify-content: center;
}

.bounce-1, .bounce-2, .bounce-3 {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    animation: bounce 1.4s infinite ease-in-out both;
}

.bounce-1 {
    animation-delay: -0.32s;
}

.bounce-2 {
    animation-delay: -0.16s;
}

@keyframes bounce {
    0%, 80%, 100% { 
        transform: scale(0);
    } 
    40% { 
        transform: scale(1.0);
    }
}